It's <%= $game.player_1.name %> vs. <%= $game.player_2.name %>!!!!
<%= attack_confirmation %>
<%= $game.player_1.name %>'s HP: <%= $game.player_1.hp %>  <%= $game.player_2.name %>'s HP: <%= $game.player_2.hp %>
<form action="/attacked" method="post">
  <input type="submit" name="attack" value="Attack" >
</form>
